<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="org.dashchat.systemtheme.SystemThemeInitializer"
            android:authorities="${applicationId}.systemtheme-initializer"
            android:exported="false" />
    </application>
</manifest>
